.login-container[data-v-eed9eefb]{width:100%;height:100vh;display:flex;align-items:center;justify-content:center;background:linear-gradient(135deg,#667eea,#764ba2)}.login-card[data-v-eed9eefb]{width:450px;box-shadow:0 8px 32px #0000001a}
