.logo[data-v-ee2b0f31]{height:64px;display:flex;align-items:center;justify-content:center;border-bottom:1px solid #f0f0f0}.logo h2[data-v-ee2b0f31]{font-size:18px;font-weight:600;color:#18a058;margin:0}
