.orders-view[data-v-52243fd0]{height:100%;overflow-y:auto}[data-v-52243fd0] .n-statistic{text-align:center;padding:16px;background:#fafafa;border-radius:8px}[data-v-52243fd0] .n-data-table{margin-top:8px}
